<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 2px solid blue;
  background-color: lightblue;
}
</style>
</head>
<body>
<br>
<br>
<h2>Courses taken by students:</h2>

<table>
  <tr>
    <th>Student name</th>
    <th>Course</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>visual basic</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td>machine learning </td>
  </tr>
    <tr>
    <td>kara</td>
    <td>python </td>
  </tr>
</table>
<br>
<app-grades></app-grades>
<br>
<app-div></app-div>
</body>
</html>