<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>
</head>
<body>

<h2>Students and their final  grades</h2>
<p>The following students got their grades as follows:</p>

<table>
  <tr>
    <th>Student name</th>
    <th>Course</th>
  <th>Final grade</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>visual basic</td>
    <td>92%</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td>machine learning
    <td>78%</td>
  </tr>
  <tr>
    <td>Joe</td>
    <td>python</td>
    <td>88%</td>
  </tr>
 
</table>

</body>
</html>
